* {margin:0; padding:0; zoom:0;}

body {
	display:block;
	width:648px;
    height:576px;
	background-color:black;
	background-image: url("../img/promo1.jpg");
	background-repeat: no-repeat;
}

.pixel {
	width:9px;
        height:9px;
	z-index: 1000;
	display: inline;
	float: left;
}

#main {
	width:648px;
        height:576px;
	z-index: -999;
	position: absolute;
}
		
div {
    float: left;
    margin: 0;
    width:9px;
    height:9px;
}
