.header {
    color: #4099FF;
    font-weight: 300;
    margin-left: 30px;
}

.collection p {
	display: inline-block;
	width: 90%;
}

.circle {
	border: #CCC solid 0.5px;
}

.title {
	font-weight: bold;
}

.screen_name {
	font-size: small;
	color: #CCCCCC;
}

.submit_tweets {
	position: absolute;
	right: 4%;
	margin-top: 35px;
	background-color: #4099FF;
}

.switch {
	display: inline-block;
}

nav {
	background-color: #4099FF;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #4099FF !important;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #4099FF !important;
}