.scroll-left {
	height: 54px;	
	position: absolute;
	z-index: 9001;
	color: #000000;
	top: 466px;
	width: 648px;
	background-color: #017dc5;
	padding-top: 5px;
	padding-bottom: 5px;
}

.twitter-icon-container {
	display: inline-block; 
	width: 50px; 
	height: 72px; 
	position: absolute; 
	z-index: 1; 
}

.scroll-left .circle img {
	vertical-align: middle;
	border-radius: 50%;
	border: #CCC solid 0.5px;
	height: 30px;
}

.scroll-left p {
	position: absolute;
	width: 100%;
	margin: 0;
	text-align: left;
}

.tweet {
	height: 100%;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	float: none;
	position: relative;
	z-index: -1;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: normal 16px Arial,sans-serif;
	margin-left: 50px;
	word-break: break-all;
}
